.content {
  display: flex;
  flex-direction: column;

  h1 {
    text-align: center;
  }

  .links {
    display: flex;
    justify-content: space-around;
    background-color: black;
    opacity: 0.5;
    color: white;
    margin-bottom: 70px;

    .categories {
      display: flex;
      flex-direction: column;

      .title {
        // text-align: center;
        font-size: 1.3rem;
      }

      .link-section {
        display: flex;
        font-size: 0.9rem;

        .link {
          text-decoration: none;
          color: white;
        }

        .link-section-left {
          display: flex;
          flex-direction: column;
        }

        .link-section-right {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}

.trending {
  max-width:800px;
  margin: 0 auto;
  .search {
    width: 100%;
    font-size: 2rem;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #000;
  }
  .trend-title{
    font-size: 1rem;
    color:white;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    font-weight: 300;
  }
  .tags{
    .tag{
      padding:10px 20px;
      border-radius: 45px;
      border: 1px solid white;
      display: inline-block;
      color: white;
      margin-bottom: 20px;
      margin-right: 20px;
      text-align: center;
      &:hover{
        background: white;
        color: black;
      }
    }
  }
}
